html {
  position: relative;
  min-height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

i {
  cursor: pointer;
}

.error-text > * {
  color: rgba(204, 10, 10, 0.931);
}

.ant-table {
  display: block;

  @media screen and (max-width: 600px) {
    &-thead {
      display: none;
    }

    &-thead > tr,
    &-tbody > tr {
      th,
      td {
        &:first-of-type {
          padding-top: 1rem;
        }

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }

      > th,
      > td {
        display: block;
        width: auto !important;
        border: none;
        padding: 0 1rem;
        font-size: 1.1rem;

        &:last-child {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
}

.footer-c {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  padding: 30px 0 !important;
  overflow: hidden;

  p {
    font-size: 1rem;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 70px !important;
    color: #fafafa;
  }
}
